# https://hub.docker.com/r/gabekangas/owncast
# https://owncast.online/quickstart/container/

DATA_PATH=./data

COMPOSE_VARIANT=default

EXT_HTTP_PORT=8080
EXT_RTMP_PORT=1935

# Optional Traefik settings used by COMPOSE_VARIANT=traefik.
TRAEFIK_NETWORK=traefik
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_HOST=owncast.domain.tld
TRAEFIK_SERVICE_PORT=8080

LOG_MAX_SIZE=5m
LOG_MAX_FILE=5
