http:
  middlewares:
    compress-default:
      compress: {}
    chain-default:
      chain:
        middlewares:
          - compress-default
    upload-10m:
      buffering:
        maxRequestBodyBytes: 10485760
        memRequestBodyBytes: 2097152
    upload-25m:
      buffering:
        maxRequestBodyBytes: 26214400
        memRequestBodyBytes: 2097152
    upload-50m:
      buffering:
        maxRequestBodyBytes: 52428800
        memRequestBodyBytes: 2097152
    upload-250m:
      buffering:
        maxRequestBodyBytes: 262144000
        memRequestBodyBytes: 4194304
    upload-10g:
      buffering:
        maxRequestBodyBytes: 10737418240
        memRequestBodyBytes: 4194304
  serversTransports:
    long-lived:
      forwardingTimeouts:
        dialTimeout: 30s
        responseHeaderTimeout: 0s
        idleConnTimeout: 300s
