http:
  routers:
    static-files-example:
      entryPoints:
        - websecure
      rule: Host(`static.example.com`)
      middlewares:
        - static-files-example-catalog
      service: noop@internal

  middlewares:
    static-files-example-catalog:
      plugin:
        # statiq plugin docs: https://plugins.traefik.io/plugins/682ca71e5cf75d3c3d216b24/statiq
        statiq:
          root: /srv/static/static.example.com
          enableDirectoryListing: true
          indexFiles:
            - index.html
            - index.htm
          cacheControl:
            ".css": public, max-age=31536000
            ".gif": public, max-age=31536000
            ".ico": public, max-age=31536000
            ".jpeg": public, max-age=31536000
            ".jpg": public, max-age=31536000
            ".js": public, max-age=31536000
            ".png": public, max-age=31536000
            ".svg": public, max-age=31536000
            ".webp": public, max-age=31536000
            ".woff": public, max-age=31536000
            ".woff2": public, max-age=31536000
