{
  "servers": [
    {
      "address": "127.0.0.1",
      "port": 8388,
      "password": "hello-world",
      "method": "aes-256-gcm",
      "timeout": 7200
    },
    {
      "address": "127.0.0.1",
      "port": 8389,
      "password": "hello-kitty",
      "method": "chacha20-ietf-poly1305"
    },
    {
      "disabled": true,
      "address": "eg.disable.me",
      "port": 8390,
      "password": "hello-internet",
      "method": "chacha20-ietf-poly1305"
    }
  ],
  "local_port": 1050,
  "local_address": "0.0.0.0"
}