services:
  server:
    image: 'codeberg.org/forgejo/forgejo:${IMAGE_TAG:-1.21}'
    container_name: forgejo
    restart: unless-stopped
    ports:
      - '${HTTP_BIND_ADDR:-127.0.0.1}:${EXT_HTTP_PORT:-3000}:3000'
      - '${EXT_SSH_PORT:-222}:22'
    volumes:
      - '${HOST_DATA_DIR:-./data}:/data'
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      - 'FORGEJO__database__DB_TYPE=postgres'
      - 'FORGEJO__database__HOST=${DB_HOST:-db}:${DB_PORT:-5432}'
      - 'FORGEJO__database__NAME=${DB_NAME:-forgejo}'
      - 'FORGEJO__database__USER=${DB_USER:-forgejo}'
      - 'FORGEJO__database__PASSWD=${DB_PASSWD:-forgejo}'
    networks:
      - forge

networks:
  forge:
    external: true
