services:
  element-call:
    # https://github.com/element-hq/element-call
    image: "ghcr.io/element-hq/element-call:${CALL_IMAGE_TAG:-latest}"
    container_name: element-call
    volumes:
      - "./config/config.json:/app/config.json:ro"
    ports:
      - "${CALL_BIND_ADDR:-127.0.0.1}:${CALL_HTTP_PORT:-8391}:8080"
    env_file: .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-5m}"
        max-file: "${LOG_MAX_FILE:-5}"

  lk-jwt-service:
    # https://github.com/element-hq/lk-jwt-service
    image: "ghcr.io/element-hq/lk-jwt-service:${JWT_IMAGE_TAG:-latest}"
    container_name: element-call-jwt
    depends_on:
      - livekit
    environment:
      - "LIVEKIT_URL=${LIVEKIT_URL:-wss://ec.domain.tld/livekit/sfu}"
      - "LIVEKIT_KEY=${LIVEKIT_API_KEY:-devkey}"
      - "LIVEKIT_SECRET=${LIVEKIT_API_SECRET:-change-me}"
      - "LIVEKIT_FULL_ACCESS_HOMESERVERS=${LIVEKIT_FULL_ACCESS_HOMESERVERS:-ec.domain.tld}"
      - "LIVEKIT_JWT_BIND=${LIVEKIT_JWT_BIND:-0.0.0.0:8080}"
    ports:
      - "${JWT_BIND_ADDR:-127.0.0.1}:${JWT_HTTP_PORT:-8401}:8080"
    env_file: .env
    networks:
      - default
      - matrix
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-5m}"
        max-file: "${LOG_MAX_FILE:-5}"

  livekit:
    # https://github.com/livekit/livekit
    image: "livekit/livekit-server:${LIVEKIT_IMAGE_TAG:-latest}"
    container_name: element-call-livekit
    command: --config /etc/livekit.yaml
    volumes:
      - "./config/livekit.yaml:/etc/livekit.yaml:ro"
    ports:
      - "${LIVEKIT_WS_BIND_ADDR:-127.0.0.1}:${LIVEKIT_WS_PORT:-7880}:7880/tcp"
      - "${LIVEKIT_RTC_TCP_BIND_ADDR:-0.0.0.0}:${LIVEKIT_RTC_TCP_PORT:-7881}:7881/tcp"
      - "${LIVEKIT_RTC_UDP_BIND_ADDR:-0.0.0.0}:${LIVEKIT_RTC_UDP_PORT_RANGE_START:-50000}-${LIVEKIT_RTC_UDP_PORT_RANGE_END:-50200}:${LIVEKIT_RTC_UDP_PORT_RANGE_START:-50000}-${LIVEKIT_RTC_UDP_PORT_RANGE_END:-50200}/udp"
    env_file: .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-5m}"
        max-file: "${LOG_MAX_FILE:-5}"

networks:
  matrix:
    external: true
