# https://hub.docker.com/r/containrrr/watchtower
# https://containrrr.dev/watchtower/

# Define containers (separated by space) which you want to automatically update here:
CONTAINERS_LIST=container1 container2

LOG_MAX_SIZE=5m
LOG_MAX_FILE=5
