# https://github.com/nicholas-fedor/watchtower

services:
  watchtower:
    # https://github.com/nicholas-fedor/watchtower
    image: nickfedor/watchtower:latest
    container_name: watchtower
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: "${HOST}"
    env_file: .env
    restart: unless-stopped
    command: "${CONTAINERS_LIST}"
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-5m}"
        max-file: "${LOG_MAX_FILE:-5}"
