{
  "inbounds": [
    {
      "port": "env:SOCKS_BIND_PORT",
      "protocol": "socks",
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      },
      "settings": {
        "auth": "noauth"
      }
    },
    {
      "port": "env:HTTP_BIND_PORT",
      "protocol": "http",
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      },
      "settings": {
      }
    },
    {
      "port": "env:TPROXY_BIND_PORT",
      "protocol": "dokodemo-door",
      "settings": {
        "network": "tcp,udp",
        "followRedirect": true
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "shadowsocks",
      "settings": {
        "servers": [
          {
            "address": "serveraddr.com",
            "method": "aes-128-gcm",
            "ota": false,
            "password": "sspasswd",
            "port": 1024
          }
        ]
      },
      "streamSettings": {
        "sockopt": {
          "mark": 255,
          "tproxy": "tproxy"
        }
      }
    }
  ]
}