{
  "inbounds": [
    {
      "tag": "socks-in",
      "port": "env:SOCKS_BIND_PORT",
      "protocol": "socks",
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      },
      "settings": {
        "auth": "noauth"
      }
    }
  ],
  "outbounds": [
    {
      "tag": "proxy",
      "protocol": "shadowsocks",
      "settings": {
        "servers": [
          {
            "address": "server1.tld",
            "method": "chacha20-poly1305",
            "ota": false,
            "password": "password",
            "port": 999
          },
          {
            "address": "server2.tld",
            "method": "chacha20-poly1305",
            "ota": false,
            "password": "password",
            "port": 999
          }
        ]
      }
    },
    {
      "tag": "direct",
      "protocol": "freedom",
      "settings": {}
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "domain": [
          "domain:host.docker.internal",
          "domain:localhost",
          "domain:lan"
          "domain:ollama"
        ],
        "outboundTag": "direct"
      },
      {
        "type": "field",
        "ip": [
          "127.0.0.0/8",
          "::1/128",

          "10.0.0.0/8",
          "172.16.0.0/12",
          "192.168.0.0/16",

          "169.254.0.0/16",
          "fe80::/10",

          "100.64.0.0/10",
          "fc00::/7"
        ],
        "outboundTag": "direct"
      }
    ]
  }
}