# Phanpy
# https://git.skobk.in/skobkin/phanpy-docker

IMAGE_REPOSITORY=ghcr.io/skobkin/phanpy-docker
IMAGE_TAG=latest

COMPOSE_VARIANT=default

BIND_ADDRESS=127.0.0.1
BIND_PORT=8403

# Optional Traefik settings used by COMPOSE_VARIANT=traefik.
TRAEFIK_NETWORK=traefik
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_HOST=phanpy.domain.tld
TRAEFIK_SERVICE_PORT=80

LOG_MAX_SIZE=5m
LOG_MAX_FILE=5
