
services:
  openvpn:
    image: kylemanna/openvpn
    container_name: openvpn
    restart: unless-stopped
    cap_add:
      - "NET_ADMIN"
    ports:
      - "1194:1194/udp"
    volumes:
      - "ovpn-data:/etc/openvpn"
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-1m}"
        max-file: "${LOG_MAX_FILE:-5}"


volumes:
  ovpn-data:
