# https://hub.docker.com/r/vectorim/element-web

services:
  element-web:
    image: 'vectorim/element-web'
    container_name: element-web
    volumes:
      - "./config/config.json:/app/config.json"
    ports:
      - "${WEBUI_BIND_ADDR}:${WEBUI_BIND_PORT}:80"
    env_file: .env
    restart: unless-stopped
    user: "${HOST_USER:-0}"
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-5m}"
        max-file: "${LOG_MAX_FILE:-5}"
