
services:
  syncthing:
    image: lscr.io/linuxserver/syncthing
    container_name: syncthing
    #hostname: syncthing #optional
    volumes:
      - "./config:/config"
      - "${HOST_DATA_DIR}:/data"
    ports:
      - "${WEBUI_BIND_ADDR}:${WEBUI_BIND_PORT}:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    env_file: .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-5m}"
        max-file: "${LOG_MAX_FILE:-5}"
